<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
        <div>
            użytkownik:&nbsp;<input type="text" name="user">
            <select th:object="${channel}" th:field="*{id}">
                <option th:each="ch : ${channels}" th:value="${ch.id}" th:text="${ch.name}"></option>
            </select>
            <button type="submit">Dołącz</button>

        </div>
    </form>
</body>
</html>